/* ============================================================
  Standard elements
============================================================ */
body {
  background-image: linear-gradient(#fefefe, #eee);
  color: #222;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
hr {
  border-color: #222;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #aaa;
}
a.active {
  text-decoration: none;
  color: #100cb9;
}
a.active:hover {
  text-decoration: none;
  color: #b8b7ee;
}
footer {
  min-height: 5vh;  
  padding: 15px 0;
  background-image: linear-gradient(#222, #333);
  color: #fefefe;
}
footer a {
    text-decoration: none;
    color: #eee;
}
footer a:hover {
    text-decoration: none;
    color: #222;
}
label {
    min-width: 20vw;
}
/* ============================================================
  Standard bootstrap-classes
============================================================ */
.navbar {
    color: #eee;
}
.row {
  margin: 0px;
}
.modal {
    color: #121212;
}
.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 10px;
}
.modal-footer {
    margin-top: 10px;
}
.input-group-addon {
    text-align: left;
}
/* ============================================================
  Container-classes
============================================================ */
.logos, .headline {
  background-image: radial-gradient(#FAE672, #867724);
  min-height: 100vh;
  text-align: center;
}
.logos h1 {
  color: #111;
}
.content {
  min-height: 85vh;
  padding-top: 50px;
}
.content h1,h2,h3 {
  text-align: center;
}
/* ============================================================
  My classes
============================================================ */
.logo {
  text-align: center;
}
.logo h2 {
   color: #b2b2b2;
}
.our_logo {
  padding: 2vh 3%
}
.langFlag {
  height: 30px;
}
.prize {
  text-align: right;
}
.message {
    background: #31cb03;
}
.error {
    background: #f31212;
}
.add_link{
    padding: 2vh 0;
    float: right;
    clear: both;
}
img.app_icon {
    width: 2vw;
    height: 2vw;
}
img.flag_icon {
    width: 17px;
    height: 17px;
}
/* ============================================================
  My elements
============================================================ */
#admin_menu.input-group-addon {
    text-align: left;
}
#messagePopUp {
    position: fixed;
    text-align: center;
    opacity: 1.0;
    bottom: 0;
    width: 100vw;
    z-index: 99;
}
#errorMessage {
    background: #f4b0b0;
    color: #543232;
    border: 1px solid #543232;
    padding: 0.5vh 0.5vw;
}
#language_selection {
    width: 60px;
}
/* ============================================================
  Parallax effect
============================================================ */
.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  line-height: 100vh;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(240,240,252,.5);
}
.parallax_content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.parallax h1,h2,h3 {
  color: #4e4e4e;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 0 10px white;
}
/* ============================================================
  file-picker-classes
============================================================ */
.file-picker__preview__image {
  width: 100%;
  height: 100%;
  padding: 3vh 0;
}
/* ============================================================
  define media-queries
============================================================ */
@media (max-width: 767px) {
    .navbar-collapse {
	min-height: 100vh;
	overflow-x: auto;
    }
    .btn {
	font-size: 14px;
	padding: 3px 8px;
    }
    img.app_icon {
	width: 4vw;
	height: 4vw;
    }
    img.flag_icon {
	width: 13px;
	height: 13px;
    }
}
@media (max-width: 359px) {
    .navbar-collapse {
	min-height: 100vh;
	overflow-x: auto;
    }
    .btn {
	font-size: 11px;
	padding: 3px 8px;
    }
    img.app_icon {
	width: 4vw;
	height: 4vw;
    }
    img.flag_icon {
	width: 10px;
	height: 10px;
    }
}
